<%- include("./partials/header")%>
<%- include("./partials/navbar")%>


<div class="container">
    <div class="row mt-3">
        <div class="col-md-4"></div>
        <div class="col-md-8 px-4 py-4">
            <h5 class="m-0">Lorem ipsum dolor sit amet consectetur adipisicing .</h5>
        </div>
        <div class="col-md-4 my-2">
            <div class="shadow-lg p-3 border rounded">
                <div class="mb-3">
                    Find Your Best Search.
                </div>
                <form class="">
                    <div class="form-group mb-3">
                        <input class="form-control" type="search" placeholder="Search by keyword" aria-label="Search">
                    </div>
                    <div class="form-group mb-3">
                        <input class="form-control" type="search" placeholder="Search by place name"
                            aria-label="Search">
                    </div>
                    <div class="form-group mb-3">
                        <input class="form-control" type="search" placeholder="Search by location" aria-label="Search">
                    </div>
                    <div class="form-group text-center">
                        <button class="btn btn-warning text-white col-md-10" type="submit">Search</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-8 my-2">
            <div class="mx-2">
                <!-- <div class="dispay-heading" style="max-width: 840px;">
                    <h2><span class="large red">T</span>op Verified Places...</h2>
                </div> -->

                <div class="card mb-5 p-2 scale-2 shadow" style="max-width: 840px;">
                    <div class="row g-0">
                        <div
                            class="col-md-4 d-flex justify-content-centr align-items-center px-2 col-sm-7 mx-auto rounded border overflow-hidden">
                            <img src="./img/Untitled design (1).png" class="img-fluid rounded scale-2" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title mb-2">Name of the place <span
                                        class="verified p-2 ps-5">verified</span>
                                </h5>
                                <div class="star_rating mb-2">
                                    <i class="fas fa-star text-warning"></i>
                                    <i class="fas fa-star text-warning"></i>
                                    <i class="fas fa-star text-warning"></i>
                                    <i class="fas fa-star text-warning"></i>
                                    <i class="fas fa-star text-warning"></i>
                                    &nbsp;
                                    <span class="card-text">Rated 5/5 (1 Review)</span>
                                </div>
                                <p class="card-text my-0"><span><i class="fas fa-map-pin text-danger"
                                            style="font-size: 18px;"></i></span> 821115, New Area Sasaram, Bihar</p>
                                <p class="my-0 mb-1">Price: <del class="text-danger">&#x20b9; 6000/Monthly</del> <span>
                                        &#x20b9;
                                        5000/- Monthly</span></p>
                                <div class="mt-2">
                                    <button class="btn btn-sm btn-outline-primary scale-2"><i
                                            class="fas fa-info text-warning"></i>
                                        &nbsp; See Detail</button> &nbsp; &nbsp;
                                    <a href="callto:878443676753" class="btn btn-sm btn-outline-success scale-2"><i
                                            class="fas fa-phone text-primary"></i> &nbsp; Call Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-5 p-2 scale-2 shadow" style="max-width: 840px;">
                    <div class="row g-0">
                        <div
                            class="col-md-4 d-flex justify-content-centr align-items-center px-2 col-sm-7 mx-auto rounded border overflow-hidden">
                            <img src="./img/Untitled design (1).png" class="img-fluid rounded scale-2" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title mb-2">Name of the place
                                </h5>
                                <div class="star_rating mb-2">
                                    <i class="fas fa-star text-warning"></i>
                                    <i class="fas fa-star text-warning"></i>
                                    <i class="fas fa-star text-warning"></i>
                                    <i class="fas fa-star text-warning"></i>
                                    <i class="fas fa-star text-warning"></i>
                                    &nbsp;
                                    <span class="card-text">Rated 5/5 (1 Review)</span>
                                </div>
                                <p class="card-text my-0"><span><i class="fas fa-map-pin text-danger"
                                            style="font-size: 18px;"></i></span> 821115, New Area Sasaram, Bihar</p>
                                <p class="my-0 mb-1">Price: <del class="text-danger">&#x20b9; 6000/Monthly</del> <span>
                                        &#x20b9; 5000/- Monthly</span></p>
                                <div class="mt-2">
                                    <button class="btn btn-sm btn-outline-primary scale-2"><i
                                            class="fas fa-info text-warning"></i>
                                        &nbsp; See Detail</button> &nbsp; &nbsp;
                                    <a href="callto:878443676753" class="btn btn-sm btn-outline-success scale-2"><i
                                            class="fas fa-phone text-primary"></i> &nbsp; Call Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="text-end">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-end">
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include("./partials/footer")%>
<script src="/script/navScript.js"></script>

</body>

</html>